RewriteEngine On
RewriteRule ^contracts/(.+?)/(.+) https://reisinger.pictures/contract?email=$1&accessKey=$2 [L,R=301]
RewriteRule ^contract$  https://reisinger.pictures/contract [L,R=301]


RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /index.html [L]
